{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}admin.user.titleList{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}admin.user.idLdap{% endtrans %}</th>
                <th>{% trans %}admin.user.valid{% endtrans %}</th>
                <th>{% trans %}admin.user.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('userldap_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idLdap }}</td>
                <td>{{ entity.valid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('userldap_show', { 'id': entity.id }) }}">{% trans %}admin.show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('userldap_edit', { 'id': entity.id }) }}">{% trans %}admin.edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('userldap_new') }}">
                {% trans %}admin.user.newEntry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
